/*
* Button component styles.
*/
@use '../abstracts/mixins';

.btn {
	display: flex;
	flex-flow: row nowrap;
	gap: .75rem;
	align-items: center;
	justify-content: center;
	padding: .75rem;
	font-family: var(--ff-nunito-sans);
	font-size: 1rem;
	font-weight: var(--weight-semibold);
	line-height: 1.375rem;
	text-decoration: none;
	cursor: pointer;
	border: 0;

	/// Component parts.
	&__icon {
		width: 20px;
		height: 20px;
		fill: currentcolor;
	}

	&__label {
		display: none;

		@include mixins.on-breakpoint('md') {
			display: inline-block;
		}
	}

	/// Component color variants.
	&--dark {
		color: var(--clr-white);
		background-color: var(--clr-baltic-sea);

		&:hover {
			background-color: var(--clr-white-alpha-8);
			box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
		}
	}

	&--accent {
		color: var(--clr-on-accent);
		background-color: var(--clr-accent);

		&:hover {
			box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
		}
	}

	/// Component shape variants.
	&--circle {
		border-radius: var(--radius-circle);
	}

	&--pill {
		border-radius: var(--radius-pill);
	}

	&--circle-to-pill {
		border-radius: var(--radius-circle);

		@include mixins.on-breakpoint('md') {
			border-radius: var(--radius-pill);
		}
	}

	/// Component visibility variants.
	&--desktop-hide {
		@include mixins.on-breakpoint('lg') {
			display: none;
		}
	}
}
