/*
* Forecast card component styles.
*/
.forecast-card {
	display: flex;
	flex-flow: column nowrap;
	gap: .75rem;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	padding: 1.25rem;
	background-color: var(--clr-baltic-sea);
	border-radius: var(--radius-pill);

	/// Card parts.
	&__day-forecast {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 100%;
	}

	&__temperatures {
		display: flex;
		flex-flow: row nowrap;
		gap: .5rem;
		align-items: center;
		justify-content: flex-start;
	}

	&__day-temperature {
		font-size: var(--fs-content-1);
		font-weight: var(--weight-normal);
		line-height: 1.6875rem;
		color: var(--clr-on-surface);
	}

	&__night-temperature {
		font-size: var(--fs-content-3);
		font-weight: var(--weight-normal);
		line-height: 1.1875rem;
		color: var(--clr-on-surface-v1);
	}

	&__date {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
	}

	&__calendar-date {
		font-size: var(--fs-content-3);
		font-weight: var(--weight-normal);
		line-height: 1.1875rem;
		color: var(--clr-on-surface-v1);
	}

	&__day {
		font-size: var(--fs-content-3);
		font-weight: var(--weight-normal);
		line-height: 1.1875rem;
		color: var(--clr-on-surface-v1);
	}
}
