/*
* Highlight card component styles.
*/
@use '../abstracts/mixins';

.highlight-card {
	display: flex;
	flex-flow: row wrap;
	gap: 1.25rem;
	justify-content: space-between;
	padding: 1rem;
	background-color: var(--clr-black-alpha-10);
	border-radius: var(--radius-pill);

	// Component parts.
	&__title {
		display: flex;
		flex-flow: row nowrap;
		flex-grow: 1;
		gap:.5rem;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		font-size: var(--fs-content-2);
		font-weight: var(--weight-semibold);
		line-height: 1.375rem;
		color:var(--clr-on-surface-v1);
		text-transform: capitalize;
	}

	&__data-set {
		display: flex;
		flex-flow: row nowrap;
		gap: 1rem;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	&__data {
		display: flex;
		flex-flow: row wrap;
		flex-grow: 1;
		gap: 1rem;
		align-items: center;
		justify-content: space-between;

		&--multiple-values {
			justify-content: flex-end;
		}

		&--column {
			flex-direction: column;
			align-items: flex-start;
		}

		&--row-above-mobile {
			@include mixins.on-breakpoint('md') {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
			}
		}
	}

	&__label {
		display: flex;
		flex-flow: column nowrap;
		gap: 0.25rem;
		align-items: flex-start;
		justify-content: flex-start;
		font-size: var(--fs-content-3);
		font-weight: var(--weight-normal);
		line-height: 1.1875rem;
		color: var(--clr-on-surface-v1);
		text-transform: capitalize;
	}

	&__value {
		font-size: var(--fs-content-1);
		font-weight: var(--weight-normal);
		line-height: 1.6875rem;
		color: var(--clr-on-surface-v2);

		&--column-above-mobile {
			@include mixins.on-breakpoint('md') {
				display: flex;
				flex-direction: column-reverse;
				align-items: center;
				justify-content: center;
			}
		}
	}

	&__unit {
		font-size: var(--fs-content-3);
		font-weight: var(--weight-normal);
		line-height: 1.1875rem;
		color: var(--clr-on-surface-v1);
		text-transform: uppercase;

		&--sup {
			font-size: var(--fs-content-4);
			line-height: .875rem;
			vertical-align:super;
		}

		&--sub {
			font-size: var(--fs-content-4);
			line-height: .875rem;
			vertical-align: sub;
		}
	}

	@include mixins.on-breakpoint('md') {
		&--large {
			grid-column: span 2;
		}

		&--small {
			grid-column: span 1;
		}
	}
}
