/*
* Logo component styles.
*/
.logo {
  position: relative;
  color: var(--clr-white);
  text-decoration: none;

  /// Component parts.
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: calc(100% / 3);
    height: 3px;
    content: '';
    background: currentcolor;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
    transition-property: width, height,background-color;
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: calc(100% / 3);
    height: 3px;
    content: '';
    background: currentcolor;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
    transition-property: width, height,background-color;
  }

  &__text {
    position: relative;
    padding: .5rem .75rem;
    font-size: var(--fs-content-1);
    line-height: 2rem;
    color: currentcolor;
    text-align: center;
    text-indent: .25rem;
    letter-spacing: .25rem;
    white-space: pre-wrap;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 3px;
      height: 50%;
      content: '';
      background-color: currentcolor;
      transition-timing-function: ease-in-out;
      transition-duration: .5s;
      transition-property: width, height,background-color;
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      display: block;
      width: 3px;
      height: 50%;
      content: '';
      background-color: currentcolor;
      transition-timing-function: ease-in-out;
      transition-duration: .5s;
      transition-property: width, height,background-color;
    }
  }

  /// Component states.
	&:hover,
  &:focus-visible {
    &::before {
      width: 100%;
    }

    &::after {
      width: 100%;
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .logo__text {
      &::before {
        height: 100%;
      }

      &::after {
        height: 100%;
      }
    }
  }

  &:focus-visible {
    &::before {
      background-color: var(--clr-lgt-blue);
    }

    &::after {
      background-color: var(--clr-lgt-blue);
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .logo__text {
      &::before {
        background-color: var(--clr-lgt-blue);
      }

      &::after {
        background-color: var(--clr-lgt-blue);
      }
    }
  }
}
