:root {
	/* Colors. */
	// Misc ones.
	--clr-white:hsl(0deg 0% 100%);
	--clr-black:hsl(0deg 0% 0%);

	// Background.
	--clr-woodsmoke:hsl(270deg 5% 7%);

	// Surface.
	--clr-baltic-sea: hsl(260deg 5% 12%);

	// On surface.
	--clr-on-surface:hsl(255deg 19% 88%);
	--clr-on-surface-v1:hsl(257deg 3% 49%);
	--clr-on-surface-v2:hsl(260deg 7% 73%);

	// Accent.
	--clr-accent:hsl(258deg 57% 76%);

	// On accent.
	--clr-on-accent:hsl(253deg 24% 7%);

	// alphas.
	--clr-white-alpha-8: hsl(0deg 0% 100% / 10%);

	/* Typography. */

	/* Font Families. */
	--ff-nunito-sans: 'Nunito Sans', sans-serif;

	/* Font Sizes. */
	--heading: 5.6rem;
	--title-1: 2rem;
	--title-2: 1.8rem;
	--title-3: 1.6rem;
	--body-1: 2.2rem;
	--body-2: 2rem;
	--body-3: 1.6rem;
	--label-1: 1.4rem;
	--label-2: 1.2rem;

	/* Font weights. */
	--weight-normal: 400;
	--weight-semibold: 600;

	/* Border radiuses */
	--radius-pill: 30px;
	--radius-circle: 50%;

	font-family: 'Nunito Sans', sans-serif;
	color: var(--clr-white);
	background-color: var(--clr-woodsmoke);
}
