/*
* Define styles for app container.
*/
@use '../abstracts/mixins';

.app {
  width: 100%;
  max-width: 1600px;
  height: 100%;
  padding: 0 1rem;
  margin: 0 auto;

  &:focus-visible {
    box-shadow: inset 0 0 0 3px var(--clr-lgt-blue);
  }

  @include mixins.on-breakpoint('md') {
    flex-flow: row wrap;
  }
}
