/*
* Define styles for app container.
*/
@use '../abstracts/mixins';

.app {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	max-width: 1600px;
	padding: 0 1rem;
	margin: 0 auto;

	@include mixins.on-breakpoint('md') {
		flex-flow: row wrap;
	}
}
